---
layout: default
---
{% include JB/setup %}
{% include themes/twitter-2.0/post.html %}

<!-- AddThis Smart Layers BEGIN -->
<!-- Go to http://www.addthis.com/get/smart-layers to customize -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4ef23e545d41b87c"></script>
<script type="text/javascript">
  addthis.layers({
    'theme' : 'dark',
    'share' : {
      'position' : 'left',
      'numPreferredServices' : 5
    }, 
    'follow' : {
      'services' : [
        {'service': 'twitter', 'id': 'fellgernon'},
        {'service': 'rss', 'id': 'http://feeds.feedburner.com/FellgernonBit'},
      ],
	  'offset' : {'top':'50px'}
    }   
  });
</script>
<!-- AddThis Smart Layers END -->

<script type="text/javascript">
var addthis_config = {
	data_ga_property: 'UA-45299226-1',
	data_ga_social : true,
	data_track_addressbar: true
};
var addthis_share = {
	// ... other options
	url_transforms : {
		shorten: {
			twitter: 'bitly'
		}
	}, 
	shorteners : {
		bitly : {}
	}
}
</script>
	 