---
layout: default
---
{% include JB/setup %}
{% include themes/twitter-2.0/post.html %}

<!-- AddThis Smart Layers BEGIN -->
<!-- Go to http://www.addthis.com/get/smart-layers to customize -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-549d3277690adb63"></script>
<script type="text/javascript">
  addthis.layers({
    'responsive' : {
      'maxWidth' : '1300px',
      'minWidth' : '0px'
    },
    'theme' : 'transparent',
    'share' : {
      'position' : 'left',
      'numPreferredServices' : 5,
      'desktop' : true,
      'mobile' : true
    }, 
    'follow' : {
      'services' : [
        {'service': 'twitter', 'id': 'ttmmghmm'},
        {'service': 'rss', 'id': 'http://feeds.feedburner.com/ttmmghmm'},
      ],
	  'offset' : {'top':'50px'},
      'title' : 'Follow'
    }   
  });
</script>
<!-- AddThis Smart Layers END -->

<script type="text/javascript">
var addthis_config = {
	data_ga_property: 'UA-57998178-1',
	data_ga_social : true,
	data_track_addressbar: true
};
var addthis_share = {
	// ... other options
	url_transforms : {
		shorten: {
			twitter: 'bitly'
		}
	}, 
	shorteners : {
		bitly : {}
	}
}
</script>
	 
